{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Editar "{{ song['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Título</label>
    <input name="title" id="title" value="{{ song['title'] }}" required>
    
    <label for="artist">Artista</label>
    <input name="artist" id="artist" value="{{ song['artist'] }}" required>
    
    <label for="album">Álbum</label>
    <input name="album" id="album" value="{{ song['album'] }}" required>
    
    <label for="genre">Gênero</label>
    <input name="genre" id="genre" value="{{ song['genre'] }}" required>
    
    <input type="submit" value="Salvar">
  </form>
  <hr>
  <form action="{{ url_for('music.delete', id=song['id']) }}" method="post">
    <input class="danger" type="submit" value="Excluir" onclick="return confirm('Tem certeza que deseja excluir?');">
  </form>
{% endblock %}
